.main {
    flex: 1;
    border-radius: 10px;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.main .gridIcon {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
    width: 70px;
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 50%;
}

.main .gridTitle {
    font-size: 23px;
    font-weight: bold;
    margin-top: 5px;
}

.main .gridInfo {
    font-size: 12px;
    margin-top: 14px;
}

.main .yourImc{
    font-size: 17px;
    margin: 10px 0 50px 0;
}
